@use "../foundation/mixin" as mixin;
@use "../foundation/variables" as var;

// 各セクションのメインタイトルとサブタイトルの色だけの定義
.m-brown {
  color: #514327;
}

.m-white {
  color: #ffffff;
}

// Newsセクション、生産者紹介セクション、featureセクションのメインタイトルとサブタイトルの構造定義

// メインタイトル
.c-sectionTitle {
  font-size: 103px;
  line-height: 0.65;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

// サブタイトル
.c-sectionSubtitle {
  &.m-commonsmalltext {
    display: inline-block;
    font-size: 16px;
    line-height: 3.25;
    padding: 0 0 0 18px;
    font-weight: normal;
    &.m-whiteapple {
      background: url(../img/_sample/icon_whiteapple.png) no-repeat left center;
      color: #ffffff;
      margin-top: 9px;
    }
    &.m-redapple {
      background: url(../img/_sample/icon_apple.jpg) no-repeat left center;
      color: #514327;
      margin-top: 0px;
    }
  }
}

// 生産者のプロフィール部分の1人目と2人目以降の左側の余白

.c-person {
  margin-left: 50px;
  &.m-first {
    margin-left: 0px;
  }
}

// 生産者プロフィールの質問事項とそれに対する答え
.c-subject {
  margin: 0 0 0 0;
  color: #514327;
  font-size: 16px;
  line-height: 2;
}
.c-ans {
  margin: 0 0 0 31px;
  color: #514327;
  font-size: 16px;
  line-height: 2;
}

// featureセクション内の各セクションの番号の定義

.p-featureNumber {
  color: #c03842;
  font-size: 90px;
  line-height: 0.74;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
}
// featureセクション内の各セクションのタイトルの定義
.c-featureTitle {
  color: #514327;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.07;
  margin: 28px 0 0 0;
}
// svセクションとfeatureセクション内の各セクションの説明文の定義
.c-desc {
  color: #514327;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
  margin-top: 60px;
}

// チェックボックス、ラジオボタン
// .c-inputCheckbox,
// .c-inputRadio {
// 	&__input {
// 		display: none;
// 	}
// 	&__mark {
// 		position: relative;
// 		padding: 0 0 0 30px;

// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			border: 1px solid #ccc;
// 			width: 20px;
// 			height: 20px;
// 		}
// 		&::after {
// 			position: absolute;
// 			top: 5px;
// 			left: 5px;
// 			background: #0000ff;
// 			width: 10px;
// 			height: 10px;
// 		}
// 	}
// }
// .c-inputRadio {
// 	&__mark {
// 		&::before,
// 		&::after {
// 			border-radius: 50%;
// 		}
// 	}
// }
// :checked {
// 	+ .c-inputCheckbox,
// 	+ .c-inputRadio {
// 		&__mark::after {
// 			content: "";
// 		}
// 	}
// }
