@charset "UTF-8";
/*引数：初期値はすべて_variables.scssで設定
$pcsize：PCデザイン文字サイズ
$pcspacing：PCデザイン文字間
$spsize：SPデザイン文字サイズ
$spspacing：SPデザイン文字間
$pccontainer：PCデザインコンテンツ幅
$spcontainer：SPデザインコンテンツ幅
*/
/*引数
$property：cssのプロパティ
$pcsize：PCデザインpx
$spsize：SPデザインpx
$pccontainer：PCデザインコンテンツ幅：初期値は_variables.scssで設定
$spcontainer：SPデザインコンテンツ幅：初期値は_variables.scssで設定
*/
/*引数
$vertical：横比率
$horizontal：縦比率
*/
/*引数
$col：PCカラム数
$margin_h：PC横マージンpx
$margin_v：PC縦マージンpx
$spcol：SPカラム数
$spmargin_h：SP横マージンpx
$spmargin_v：SP縦マージンpx
$pccontainer：PCデザインコンテンツ幅：初期値は_variables.scssで設定
$spcontainer：SPデザインコンテンツ幅：初期値は_variables.scssで設定
*/
.m-brown {
  color: #514327;
}

.m-white {
  color: #ffffff;
}

.c-sectionTitle {
  font-size: 103px;
  line-height: 0.65;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.c-sectionSubtitle.m-commonsmalltext {
  display: inline-block;
  font-size: 16px;
  line-height: 3.25;
  padding: 0 0 0 18px;
  font-weight: normal;
}
.c-sectionSubtitle.m-commonsmalltext.m-whiteapple {
  background: url(../img/_sample/icon_whiteapple.png) no-repeat left center;
  color: #ffffff;
  margin-top: 9px;
}
.c-sectionSubtitle.m-commonsmalltext.m-redapple {
  background: url(../img/_sample/icon_apple.jpg) no-repeat left center;
  color: #514327;
  margin-top: 0px;
}

.c-person {
  margin-left: 50px;
}
.c-person.m-first {
  margin-left: 0px;
}

.c-subject {
  margin: 0 0 0 0;
  color: #514327;
  font-size: 16px;
  line-height: 2;
}

.c-ans {
  margin: 0 0 0 31px;
  color: #514327;
  font-size: 16px;
  line-height: 2;
}

.p-featureNumber {
  color: #c03842;
  font-size: 90px;
  line-height: 0.74;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
}

.c-featureTitle {
  color: #514327;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.07;
  margin: 28px 0 0 0;
}

.c-desc {
  color: #514327;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
  margin-top: 60px;
}

.l-footer {
  background-color: #c03842;
  padding: 22px 0 19px;
  text-align: center;
}
.l-footer__copyright {
  font-size: 12px;
  color: #ffffff;
}

.l-header {
  height: 109px;
}
.l-header__inner {
  max-width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__list {
  display: flex;
  align-items: center;
}
.l-header__item {
  list-style: none;
  margin-right: 27px;
}
.l-header__item:nth-last-child(1) {
  margin-right: 0;
}
.l-header__link {
  text-decoration: none;
  line-height: 2;
  padding: 0 0 0 20px;
  background: url(../img/_sample/icon_apple.jpg) no-repeat left center;
  display: inline-block;
  color: #514327;
  font-size: 16px;
}

.p-fv__innerwrap {
  position: relative;
  margin-right: 35px;
  margin-left: 35px;
  overflow: hidden;
}

.carousel .slides {
  display: flex;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
}
.carousel .slides .slide {
  min-width: 100%;
  box-sizing: border-box;
  height: 596px;
  background-image: url(../img/_sample/bg_fv.jpg);
  background-size: cover; /* 画像を要素全体にフィットさせる */
  background-position: center;
  border-radius: 30px;
}
@media (max-width: 670px) {
  .carousel .slides .slide {
    background-position: -330px;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .carousel .slides .slide {
    background-image: url(../img/_sample/bg_fvsp.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }
}

.indicators {
  text-align: right;
}
.indicators .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  z-index: -1;
}
.indicators .dot.active {
  background-color: #c03842;
}

.p-producer {
  background-color: #c03842;
}
.p-producer__innerwrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
  padding-top: 150px;
}

.p-producerTabctrl__innerwrap {
  max-width: 1100px;
  justify-content: center;
}

.p-producerTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-left: 0px;
}
.p-producerTabs li {
  margin-right: 15px;
  list-style: none;
  width: 33.3333333333%;
}
.p-producerTabs li:nth-last-child(1) {
  margin-right: 0;
}
.p-producerTabs li a {
  color: #514327;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  background-color: #bbb;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.p-producerTabs li a.active {
  background-color: #ffffff;
  padding-top: 5.5px;
}
.p-producerTabs li a:not(.active) {
  height: 48px;
  transform: translateY(18.5px);
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.p-producerContents {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.p-producerContents li {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 54px;
  padding-bottom: 59px;
  background-color: #fff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  list-style: none;
  display: none;
}
.p-producerContents li.active {
  display: block;
}
.p-producerContents__innerwrap {
  display: flex;
}
.p-producerContents__imgbox {
  margin: 0px 0px 0px 0px;
  max-width: 100%;
  height: auto;
}

.p-producerProfile__name {
  color: #514327;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-producer__dottedline {
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
}
.p-producer__dottedline.m-first {
  display: block;
  margin-bottom: 9px;
  margin-top: 0px;
}

.p-producerDetails__innerwrap {
  display: flex;
}

.p-feature__innerwrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 173px;
  padding-right: 150px;
  padding-left: 150px;
}
.p-feature__innerwrap :nth-child(3) {
  margin-top: 43px;
}
.p-feature .c-sectionTitle {
  text-align: center;
  margin: 0 0 0 0;
}

.p-featureSubtitle__innerwrap {
  text-align: center;
}

.p-featureContents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.p-featureContents__imgbox {
  width: 472px;
  height: 322px;
  margin: 0 0 0 0;
}

.p-featureTexts {
  margin-left: 63px;
}
.p-featureTexts__innerwrap {
  display: flex;
  translate: 8px;
}
.p-featureTexts.m-left {
  margin-right: 63px;
  margin-left: 0px;
}

.m-rightalignedimg {
  order: 1;
}

.p-sv__innerwrap {
  position: relative;
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 300px;
  padding-left: 189px;
  padding-top: 280px;
  padding-bottom: 290px;
}

.p-svTexts {
  margin-right: 111px;
}

.p-svTexts__title {
  width: 255px;
  height: 246px;
  margin: 0 0 0 0;
  font-size: 51px;
  line-height: 1.6;
  font-weight: 600;
  color: #514327;
}
.p-svTexts__title.highlight {
  color: #c03842;
}

.p-svTexts__desc {
  width: 385px;
  height: 288px;
}

.p-sv__img--sv1 {
  position: absolute;
  top: 180px;
  left: 950px;
  width: 365px;
  height: 246px;
  z-index: 1;
}

.p-sv__img--sv2 {
  position: absolute;
  top: 230px;
  left: 1000px;
  width: 213px;
  height: 254px;
  z-index: 2;
}

.p-sv__img--sv3 {
  position: absolute;
  top: 275px;
  left: 1080px;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.p-sv__img--sv4 {
  position: absolute;
  top: 821px;
  left: 970px;
  width: 315px;
  height: 240px;
  z-index: 4;
}

.p-sv__img--sv5 {
  position: absolute;
  top: 310px;
  left: 689px;
  width: 445px;
  height: 566px;
  z-index: 5;
}

.p-news__innerwrap {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 150px;
  padding-left: 189px;
}

.p-newsTitle__innerwrap {
  padding-right: 72px;
}

.p-newsContents__article {
  border-top: 1px solid #514327;
}
.p-newsContents__article:nth-child(2) {
  border-bottom: 1px solid #514327;
}
.p-newsContents__article:nth-child(3) {
  border-bottom: 1px solid #514327;
  border-top: none;
}

.p-newsContents__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-newsContents__link.m-link {
  padding-bottom: 0px;
}

.p-newsContents__meta {
  display: flex;
  gap: 24px;
  align-items: center;
}
.p-newsContents__meta.m-meta {
  padding-bottom: 30px;
}

.p-newsContents__time {
  font-size: 16px;
  line-height: 2;
  color: #776f65;
}

.p-newsContents__tag {
  color: #514327;
}

.p-newsContents__heading {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: #514327;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0 0 0;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=styles.css.map */