.p-news__innerwrap {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 150px;
  padding-left: 189px;
  margin-bottom: 150px;
}
.p-newsTitle__innerwrap {
  padding-right: 72px;
}

.p-newsContents__article {
  border-top: 1px solid #514327;

  &:nth-child(2) {
    border-bottom: 1px solid #514327;
  }
  &:nth-child(3) {
    border-bottom: 1px solid #514327;
    border-top: none;
  }
}

.p-newsContents__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  &.m-link {
    padding-bottom: 16px;
  }
}
.p-newsContents__meta {
  display: flex;
  gap: 24px;
  align-items: center;
  &.m-meta {
    padding-bottom: 30px;
  }
}
.p-newsContents__time {
  font-size: 16px;
  line-height: 2;
  color: #776f65;
}
.p-newsContents__tag {
  color: #514327;
  border: 1px solid #514327;
  padding: 4.5px 23px 4.5px 24px;
}
.p-newsContents__heading {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: #514327;
  margin: 0 0 0 0;
}
