.p-sv__innerwrap {
  position: relative;
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 300px;
  padding-left: 189px;
  padding-top: 280px;
  padding-bottom: 290px;
}

.p-svTexts {
  margin-right: 111px;
}

.p-svTexts__title {
  width: 255px;
  height: 246px;
  margin: 0 0 0 0;
  font-size: 51px;
  line-height: 1.6;
  font-weight: 600;
  color: #514327;
  &.highlight {
    color: #c03842;
  }

  // 一般的にfont-weight:600でsemiboldと同じ
}

.p-svTexts__desc {
  width: 385px;
  height: 288px;
}

.p-sv__img--sv1 {
  position: absolute;
  top: 180px;
  left: 950px;
  width: 365px;
  height: 246px;
  z-index: 1;
}
.p-sv__img--sv2 {
  position: absolute;
  top: 230px;
  left: 1000px;
  width: 213px;
  height: 254px;
  z-index: 2;
}
.p-sv__img--sv3 {
  position: absolute;
  top: 275px;
  left: 1080px;
  width: 100px;
  height: 100px;
  z-index: 3;
}
.p-sv__img--sv4 {
  position: absolute;
  top: 821px;
  left: 970px;
  width: 315px;
  height: 240px;
  z-index: 4;
}
.p-sv__img--sv5 {
  position: absolute;
  top: 310px;
  left: 689px;
  width: 445px;
  height: 566px;
  z-index: 5;
}
