.p-sv {
  &__innerwrap {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 239px;
    margin-bottom: 137px;
  }

  &__textarea__title {
    width: 255px;
    height: 246px;
    margin: 0 0 0 0;
    font-size: 51px;
    line-height: 1.6;
    font-weight: 600;
    // 一般的にfont-weight:600でsemiboldと同じ
  }
  &__desc {
    width: 385px;
    height: 288px;
  }
}

.overallcolor {
  color: #514327;
}
.highlight {
  color: #c03842;
}
